@import "./base.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  width: 100%;
  padding: 100px 10%;
}
.bgDeepPurple {
  background-color: var(--gh-header-purple);
}
.bgDeepGreen {
  background-color: var(--di-deep-green);
}

@media (hover: hover) {
  a:hover {
    opacity: .8;
  }
}

@media (min-width: 1024px) {

}
